<h3>Find cool things</h3>
<p>Browse the internet or browse your apps and when you find something that you know you would recommend, or you just want to try later, then share from the browser or the app. Select Share in the browser or app and then select Add Recommendation.</p>
<img src='step1' />
<h3>Edit the recommendation</h3>
<p>Recommender will get as much from the shared information as it can. Just add your own notes and add it to your collection.</p>
<img src='step2' />
<h3>Share with friends</h3>
<p>If you want to make a recommendation to a friend then select the recommendation, or long press to select multiple recommendations and share. You can share with any application that supports text sharing and also lets you attach a text file, for example GMail.</p>
<img src='step3' />
<h3>Receiving is a snap</h3>
<p>You send your recommendations directly to your friend. They dont even need Recommender installed they can just keep your recommendation as text. If they do have Recommender then tapping on the attachment and opening it with recommender will add it to their collection. Easy. The links to install the app from <a href="https://play.google.com/store/apps/details?id=net.derekwilson.recommender">Google Play</a> or <a href="https://www.amazon.com/gp/product/B0BVPH5YMY">Amazon App Store</a> are included in the text.
</p>
<img src='step4a' />
<h3>No server, no subscription, free, no adverts</h3>
<p>There is no central server in Recommender, no account credentials. Your recommendations are backed up to google drive if you change phone, or can easily be exported to a small text file. The app is free and without adverts, so how do I monetise it? I do not get any revenue from the app store instead the app is <a href="https://bitbucket.org/derekwilson/recommender-android/src/master/">open source</a> so I can link it into my portfolio.</p>
<h3>Not on Google Play?</h3>
<p>If you cannot find Recommender on the Google Play Store you can either sideload the APK from the <a href="https://bitbucket.org/derekwilson/recommender-android/src/master/AndroidSupport/releases/">release archive</a> folder on Bitbucket or download it from the <a href="https://www.amazon.com/gp/product/B0BVPH5YMY">Amazon App Store</a>.</p>
